<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjj.springvuedemo.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.gjj.springvuedemo.model.Permission" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <select id="findByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select distinct
    p.pid,p.pname
    from t_permission p
    inner join t_role_permission rp on rp.pid = p.pid
    inner join t_user_role ur on ur.rid = rp.rid and ur.uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_permission
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjj.springvuedemo.model.Permission" >
    insert into t_permission (pid, pname)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gjj.springvuedemo.model.Permission" >
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjj.springvuedemo.model.Permission" >
    update t_permission
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjj.springvuedemo.model.Permission" >
    update t_permission
    set pname = #{pname,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>